body {
  background-color: black;
  color: white;
}

.history-container {
  max-width: 900px;
  margin: 100px auto;
  padding: 20px;
}

.history-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
}

.history-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.history-card {
  background: #2e2e2e;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #444;
}

.history-card p {
  margin: 6px 0;
  font-size: 15px;
}

.log-time {
  text-align: right;
  font-size: 12px;
  color: gray;
}

.no-log {
  text-align: center;
  color: gray;
  margin-top: 20px;
}
